<TelerikCard Class="skeleton-card">
    <CardHeader Class="k-hbox">
        <div>
            <CardTitle>
                <TelerikSkeleton ShapeType="@SkeletonShapeType.Text" Width="90px" Height="20px"></TelerikSkeleton>
            </CardTitle>
        </div>
    </CardHeader>
    <TelerikSkeleton ShapeType="@SkeletonShapeType.Rectangle" Height="450px"></TelerikSkeleton>
    <CardActions Class="justify-space-between">
        <TelerikSkeleton ShapeType="@SkeletonShapeType.Circle" Width="12px" Height="12px" Class="k-display-inline-block"></TelerikSkeleton>
        <TelerikSkeleton ShapeType="@SkeletonShapeType.Text" Width="80px" Height="18px" Class="post-likes-count"></TelerikSkeleton>
        <TelerikSkeleton ShapeType="@SkeletonShapeType.Circle" Width="12px" Height="12px" Class="k-display-inline-block"></TelerikSkeleton>
    </CardActions>
</TelerikCard>