@using DPWH.EDMS.Components.Helpers
@using DPWH.EDMS.Web.Client.Pages.DataLibrary.Common.Enum
@using DPWH.EDMS.Web.Client.Shared.RecordRequest.RequestForm

@inherits RecordTypesRequestFormBase

<EdmsLoader Visible="@IsLoading" />

<EditForm Model="NewConfig" OnSubmit="@HandleOnSubmitCallback">
    <FluentValidationValidator @ref="FluentValidationValidator" DisableAssemblyScanning="@true"></FluentValidationValidator>
    <div class="row g-3 mb-3">
        <div class="col-md-12">
            <label class="mb-2" for="Name">Value*</label>
            <TelerikTextBox Size="@ThemeConstants.Button.Size.Large" Id="Value" @bind-Value="@NewConfig.Name" PlaceHolder="Value"></TelerikTextBox>
            <ValidationMessage Class="text-danger" For="@(() => NewConfig.Name)" />
        </div>
    </div>
    @if (DataType == DataLibraryEnum.PersonalRecords.GetDescription())
    {
        <div class="row g-3 mb-3">
            <div class="col-md-12">
                <label class="mb-2" for="Name">Code*</label>
                <TelerikTextBox Size="@ThemeConstants.Button.Size.Large" Id="Value" @bind-Value="@NewConfig.Code" PlaceHolder="Code"></TelerikTextBox>
                <ValidationMessage Class="text-danger" For="@(() => NewConfig.Code)" />
            </div>
        </div>
    }
    @if(DataType != DataLibraryEnum.PersonalRecords.GetDescription())
    {
        <div class="col-md-12">
            <label class="mb-2" for="Section">Section*</label>
            <TelerikDropDownList Data="@SectionList"
                                 @bind-Value="NewConfig.Section"
                                 ValueField="string"
                                 TextField="string"
                                 DefaultText="Select"
                                 OnChange="SectionDropdownErrorChecker" />
            <ValidationMessage Class="text-danger" For="@(() => NewConfig.Section)" />
        </div>
        <div class="col-md-12">
            <label class="mb-2" for="Name">Office*</label>
            <TelerikDropDownList Data="@OfficeList"
                                 @bind-Value="NewConfig.Office"
                                 ValueField="string"
                                 TextField="string"
                                 DefaultText="Select"
                                 OnChange="OfficeDropdownErrorChecker" />
            <ValidationMessage Class="text-danger" For="@(() => NewConfig.Office)" />
        </div>
    }
    
    <CardSeparator Class="my-3" /> 
    <div class="k-actions k-actions-horizontal k-window-actions k-dialog-actions k-actions-stretched dialog text-white">

        <TelerikButton Class="telerik-blazor k-button k-button-solid k-rounded-md k-button-md k-button-solid-base" @onclick="HandleOnCancelCallBack">
            <span class="k-button-text">Cancel</span>
        </TelerikButton>
        <TelerikButton Class="telerik-blazor k-button k-button-solid k-rounded-md k-button-md k-button-solid-primary">
            <span class="k-button-text">Submit</span>
        </TelerikButton>
    </div>
</EditForm>