@page "/navmanager"
@using DPWH.EDMS.Api.Contracts
@using DPWH.EDMS.IDP.Core.Constants

@attribute [Authorize(Roles = $"{ApplicationRoles.SystemAdmin},{ApplicationRoles.SuperAdmin}")]

@inherits NavManagerBase

<EdmsLoader Visible="@IsLoading" />

<h3><span class="bi me-2 material-symbols-outlined">account_tree</span> Nav Manager</h3>

<hr />

<div class="d-flex flex-row mt-3">
    <TelerikCard Width="100%">
        <CardBody>
            <div class="d-flex flex-row justify-content-between gap-3 align-items-center">
                <TelerikFileSelect AllowedExtensions="@AllowedExtensions"
                                   OnSelect="@OnUpload"
                                   Multiple="false"
                                   Class="mt-2">
                    <SelectFilesButtonTemplate>
                        <TelerikSvgIcon Icon="@SvgIcon.Upload" />
                        Import Menu Items (JSON)
                    </SelectFilesButtonTemplate>
                </TelerikFileSelect>

                <button
                    style="height: 40px;"
                    class="btn btn-outline-success"
                    @onclick="ExportMenuJson">
                    <p class="d-flex mb-0 align-items-center"><span class="bi me-2 material-symbols-outlined">download</span> Export Menus (JSON)</p>
                </button>                
            </div>
            <hr />
            <div class="d-flex flex-row justify-content-end gap-3">
                <TelerikButton Class="mb-2"
                               Icon="@FontIcon.Plus"
                               ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"
                               OnClick="GoToCreateMenuItem">
                    Create Menu
                </TelerikButton>

            </div>
            <div class="d-flex flex-column">
                @if (GridData != null && !XSmall)
                {
                    <TelerikGrid TItem="MenuItemModel"
                                 @bind-PageSize="@PageSize"
                                 Height="@GridHeight"
                                 FilterMode="GridFilterMode.FilterRow"
                                 Sortable=true
                                 Data="GridData"
                                 OnStateChanged="@OnStateChanged"
                                 @ref="GridRef"
                                 Context="item">
                        <GridSettings>
                            <GridPagerSettings PageSizes="@PageSizes">
                            </GridPagerSettings>
                        </GridSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(MenuItemModel.Text) Title="Text" />
                            <GridColumn Field=@nameof(MenuItemModel.Url) Title="Url" />
                            <GridColumn Field=@nameof(MenuItemModel.SortOrder) Title="Sort Order" />
                            <GridColumn Field=@nameof(MenuItemModel.Level) Title="Level" />
                            <GridColumn Field=@nameof(MenuItemModel.NavType) Title="Type" />
                            <GridColumn Field=@nameof(MenuItemModel.ParentId) Title="Parent" />
                            <GridCommandColumn Width="260px">
                                <GridCommandButton Icon="@SvgIcon.Pencil" OnClick="HandleEditMenuItem" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"></GridCommandButton>
                                <GridCommandButton Icon="@SvgIcon.Trash" OnClick="HandleDeleteMenuItem"></GridCommandButton>
                            </GridCommandColumn>
                        </GridColumns>
                    </TelerikGrid>
                }
                else
                {
                    <span>No Data to display.</span>
                }
                <TelerikPager PageChanged="@PageChangedHandler"
                              Total="TotalItems"
                              ButtonCount="6"
                              PageSize="@PageSize"
                              PageSizeChanged="@PageSizeChangedHandler"
                              PageSizes="@(new List<int?> {5, 10, 20})"
                              Page="@Page">
                </TelerikPager>
            </div>

        </CardBody>
    </TelerikCard>
</div>