@inherits ViewRequestBase

@page "/request-management/view/{RequestId}"
@using DPWH.EDMS.Components.Helpers
@using DPWH.EDMS.Shared.Enums
@using DPWH.EDMS.Web.Client.Shared.RecordRequest.View.RequestDetailsOverview

<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<EdmsLoader Visible="IsLoading" />

<h3>Request Details</h3>
@if (SelectedRecordRequest != null && !IsLoading)
{
    <div class="d-flex flex-row align-items-center mb-2">
        <p>Control Number: @SelectedRecordRequest.ControlNumber </p>
        <span class="role-chip">@SelectedRecordRequest.Status</span>
    </div>
    <p>Employee No: @SelectedRecordRequest.EmployeeNumber &nbsp;&nbsp; / &nbsp;&nbsp; Date Requested: @GenericHelper.GetDateTimeDisplay(SelectedRecordRequest.DateRequested)</p>

    <hr />

    <TelerikTabStrip>
        <TabStripTab>
            <HeaderTemplate>
                <span class="bi me-2 material-symbols-outlined">overview</span>
                Overview
            </HeaderTemplate>
            <Content>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between mb-2">
                        <p class="edms-text-header-small">Request Details</p>
                        <TelerikButton ButtonType="ButtonType.Submit" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">
                            Export
                        </TelerikButton>
                    </div>
                    <div class="detail-flex">
                        <p><b>Control Number:</b>&nbsp; @SelectedRecordRequest.ControlNumber</p>
                        <p><b>Employee No:</b>&nbsp; @SelectedRecordRequest.EmployeeNumber</p>

                    </div>
                    <div class="detail-flex">
                        <p><b>Claimant Type:</b>&nbsp; @(SelectedRecordRequest.ClaimantType == ClaimantTypes.AuthorizedRepresentative.ToString() ? "Authorized Representative" : "Requestor")</p>
                        @if (SelectedRecordRequest.ClaimantType == ClaimantTypes.AuthorizedRepresentative.ToString())
                        {
                            <p><b>Representative Name: </b>&nbsp; @SelectedRecordRequest.AuthorizedRepresentative.RepresentativeName</p>
                        }
                    </div>
                    <div class="detail-flex">
                        <p><b>Active or Inactive Employee:</b>&nbsp; @(SelectedRecordRequest.IsActiveEmployee ? "Yes" : "No") </p>
                        <p><b>Date Requested:</b>&nbsp; @GenericHelper.GetDateTimeDisplay(SelectedRecordRequest.DateRequested)</p>
                    </div>
                    <div class="detail-flex">
                        <p><b>Purpose:</b>&nbsp;@SelectedRecordRequest.Purpose</p>
                    </div>
                    <hr />
                    <div class="d-flex flex-row mb-2">
                        <p class="edms-text-header-small">Requested Documents</p>
                    </div>
                    <div class="detail-flex">
                        <ul>
                            @if (SelectedRecordRequest.RequestedRecords != null && SelectedRecordRequest.RequestedRecords.Count > 0)
                            {
                                @foreach (var record in SelectedRecordRequest.RequestedRecords)
                                {
                                    <li>@record.RecordType</li>
                                }
                            }
                        </ul>
                    </div>
                    <hr />
                    <div class="d-flex flex-row mb-2">
                        <p class="edms-text-header-small">Uploaded Documents</p>
                    </div>
                    <div class="detail-flex">
                        <ul>
                            <li>
                                <strong>Valid ID:</strong>
                                <a href="@SelectedRecordRequest.AuthorizedRepresentative.ValidIdUri" target="_blank">
                                    @GetValidIdTextDisplay()
                                </a>
                            </li>
                            <li>
                                <strong>Authorized Document:</strong>
                                <a href="@SelectedRecordRequest.AuthorizedRepresentative.SupportingDocumentUri" target="_blank">
                                    @GetSupportingDocTextDisplay()
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </Content>
        </TabStripTab>
    </TelerikTabStrip>

    @if (IsRequestApproved == null)
    {
        <div class="d-flex flex-row justify-content-between mt-3">
            <TelerikButton @onclick="OnCancel"
                           FillMode="@ThemeConstants.Button.FillMode.Outline" ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">
                Cancel
            </TelerikButton>
            <div class="d-flex flex-row gap-2">
                <TelerikButton OnClick="() => IsRequestApproved = false" FillMode="@ThemeConstants.Button.FillMode.Outline" ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">
                    Reject
                </TelerikButton>
                <TelerikButton OnClick="() => IsRequestApproved = true" ButtonType="ButtonType.Submit" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">
                    Approve
                </TelerikButton>
            </div>
        </div>
    }
    else
    {
        <TelerikCard Class="my-3">
            <CardBody>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between mb-2">
                        <p class="edms-text-header-small">Approval History</p>
                        <TelerikButton ButtonType="ButtonType.Submit" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">
                            Export
                        </TelerikButton>
                    </div>
                    <div class="d-flex flex-row gap-2">
                        <p class="mb-0 fw-bold">Juan DelaCruz</p>
                        <span class="role-chip">@(IsRequestApproved == true ? "Approved" : "Rejected")</span>
                    </div>
                    <p class="mb-0"><i>Super Admin - @GenericHelper.GetDateTimeDisplay(DateTime.Now) </i></p>
                    <p class="mt-3"><b>Remarks/Purpose: </b> @SelectedRecordRequest.Purpose</p>
                </div>
            </CardBody>
        </TelerikCard>
    }
}