@inherits ViewRequestBase

@page "/my-requests/view/{RequestId}"

@using DPWH.EDMS.Components.Helpers
@using DPWH.EDMS.Shared.Enums
@using DPWH.EDMS.Web.Client.Shared.RecordRequest.View.RequestDetailsOverview

<TelerikMediaQuery Media="(max-width: 480px)" OnChange="((changed) => XSmall = changed)"></TelerikMediaQuery>
<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<EdmsLoader Visible="IsLoading" />

<h3>Request Details</h3>

@if (SelectedRecordRequest != null && !IsLoading)
{
    <div class="d-flex flex-row align-items-center mb-2">
        <p>Control Number: @SelectedRecordRequest.ControlNumber </p>
        <span class="role-chip">@SelectedRecordRequest.Status</span>
    </div>
    <p>Employee No: @SelectedRecordRequest.EmployeeNumber &nbsp;&nbsp; / &nbsp;&nbsp; Date Requested: @GenericHelper.GetDateTimeDisplay(SelectedRecordRequest.DateRequested)</p>
    <hr />

    <TelerikTabStrip>
        <TabStripTab>
            <HeaderTemplate>
                <span class="bi me-2 material-symbols-outlined">overview</span>
                Overview
            </HeaderTemplate>
            <Content>
                <div class="row mb-3">
                    <div class="col-12 mb-3">
                        <p class="edms-text-header-small">Request Details</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Control Number:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.ControlNumber</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Status:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.Status</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Date Requested:</b></p>
                        <p class="d-md-inline d-block">@GenericHelper.GetDateTimeDisplay(SelectedRecordRequest.DateRequested)</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Employee Number:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.EmployeeNumber</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Employee Name:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.FullName</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Employee Email:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.Email</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Claimant:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.ClaimantType</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Purpose:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.Purpose</p>
                    </div>
                    <div class="col-6 mb-2">
                        <p class="d-md-inline d-block"><b>Remarks:</b></p>
                        <p class="d-md-inline d-block">@SelectedRecordRequest.Remarks</p>
                    </div>
                </div>
                @if (SelectedRecordRequest.ClaimantType == ClaimantTypes.AuthorizedRepresentative.ToString())
                {
                    <hr />
                    <div class="row mb-3">
                        <div class="col-12 mb-3">
                            <p class="edms-text-header-small">Uploaded Supporting Documents</p>
                        </div>
                        <div class="col-12">
                            <ul>
                                <li class="mb-2">
                                    <p class="d-md-inline d-block"><b>Valid ID:</b></p>
                                    <a class="d-md-inline d-block" href="@SelectedRecordRequest!.AuthorizedRepresentative.ValidIdUri" target="_blank">
                                        @GetValidIdTextDisplay()
                                    </a>
                                </li>
                                <li class="mb-2">
                                    <p class="d-md-inline d-block"><b>Authorization Document:</b></p>
                                    <a class="d-md-inline d-block" href="@SelectedRecordRequest.AuthorizedRepresentative.AuthorizationDocumentUri" target="_blank">
                                        @GetSupportingDocTextDisplay()
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
                <hr />
                <div class="row mb-3">
                    <div class="col">
                        <p class="edms-text-header-small">Requested Record(s)</p>
                    </div>
                    @if (SelectedRecordRequest.RequestedRecords.Any(record => !string.IsNullOrEmpty(record.Uri)))
                    {
                        <div class="col">
                            <p class="edms-text-header-small">Record(s) for Release</p>
                        </div>
                    }
                </div>
                <div class="row">
                    @if (SelectedRecordRequest.RequestedRecords != null && RMDRecords?.Count > 0)
                    {
                        <div class="col">
                            <p><b>@Offices.RMD.ToString()</b></p>
                            <ul>
                                @foreach (var record in RMDRecords)
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col d-flex align-items-center pe-0">
                                                <p>@record.RecordType</p>
                                            </div>
                                            <div class=@(XSmall ? "col mb-1 ps-0 text-center" : "col mb-1 ps-0")>
                                                @if ((SelectedRecordRequest.RmdRequestStatus == OfficeRequestedRecordStatus.Released.ToString() || SelectedRecordRequest.RmdRequestStatus == OfficeRequestedRecordStatus.Claimed.ToString()) && !string.IsNullOrEmpty(record.Uri))
                                                {
                                                    <NavLink target="_blank" href=@record.Uri><b>View</b></NavLink>
                                                }
                                                else if ((SelectedRecordRequest.RmdRequestStatus == OfficeRequestedRecordStatus.Released.ToString() || SelectedRecordRequest.RmdRequestStatus == OfficeRequestedRecordStatus.Claimed.ToString()) && string.IsNullOrEmpty(record.Uri))
                                                {
                                                    <p><b>No Record</b></p>
                                                }
                                                else
                                                {
                                                    <div class=@(XSmall ? "col mb-1 ps-0 text-center" : "col mb-1 ps-0")>
                                                        <p><b>Pending</b></p>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
                <div class="row">
                    @if (SelectedRecordRequest.RequestedRecords != null && HRMDRecords?.Count > 0)
                    {
                        <div class="col">
                            <p><b>@Offices.HRMD.ToString()</b></p>
                            <ul>
                                @foreach (var record in HRMDRecords)
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col d-flex align-items-center pe-0">
                                                <p>@record.RecordType</p>
                                            </div>
                                            <div class=@(XSmall ? "col mb-1 ps-0 text-center" : "col mb-1 ps-0")>
                                                @if ((SelectedRecordRequest.HrmdRequestStatus == OfficeRequestedRecordStatus.Released.ToString() || SelectedRecordRequest.HrmdRequestStatus == OfficeRequestedRecordStatus.Claimed.ToString()) && !string.IsNullOrEmpty(record.Uri))
                                                {
                                                    <NavLink target="_blank" href=@record.Uri><b>View</b></NavLink>
                                                }
                                                else if ((SelectedRecordRequest.HrmdRequestStatus == OfficeRequestedRecordStatus.Released.ToString() || SelectedRecordRequest.HrmdRequestStatus == OfficeRequestedRecordStatus.Claimed.ToString()) && string.IsNullOrEmpty(record.Uri))
                                                {
                                                    <p><b>No Record</b></p>
                                                }
                                                else
                                                {
                                                    <div class=@(XSmall ? "col mb-1 ps-0 text-center" : "col mb-1 ps-0")>
                                                        <p><b>Pending</b></p>
                                                    </div>
                                                }
                                            </div>

                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </Content>
        </TabStripTab>
    </TelerikTabStrip>

    <div class="d-flex flex-row justify-content-end mt-3">
        <TelerikButton @onclick="OnCancel"
                       FillMode="@ThemeConstants.Button.FillMode.Outline" ThemeColor="@ThemeConstants.Button.ThemeColor.Secondary">
            Cancel
        </TelerikButton>
    </div>
}