@page "/records-management"
@using DPWH.EDMS.Client.Shared.Models

@inherits RecordsManagementBase
@attribute [Authorize(Policy = "RequireActiveRoles")]

<EdmsLoader Visible="@IsLoading" />
<TelerikMediaQuery Media="(max-width: 480px)" OnChange="((changed) => XSmall = changed)"></TelerikMediaQuery>

<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<h3>Records Management</h3>
<hr />

<div class="d-flex flex-row mt-3">
    <TelerikCard Width="100%">
        <CardBody>
            <div class="d-flex flex-row justify-content-between">
                <CardTitle Class="mb-0">Employee Records</CardTitle>
            </div>
            <CardSeparator Class="my-2"></CardSeparator>
            <div>
                @if (GridData != null && !XSmall)
                {
                    <TelerikGrid TItem="UserModel"
                                 @bind-PageSize="@PageSize"
                                 Height="@GridHeight"
                                 FilterMode="GridFilterMode.FilterRow"
                                 Sortable=true
                                 Data="GridData"
                                 OnStateChanged="@OnStateChanged"
                                 @ref="GridRef"
                                 Context="record"
                                 OnRowClick="GoToSelectedItemDocuments">
                        <GridSettings>
                            <GridPagerSettings PageSizes="@PageSizes">
                            </GridPagerSettings>
                        </GridSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(UserModel.FirstName) Title="First Name" />
                            <GridColumn Field=@nameof(UserModel.LastName) Title="Last Name" />
                            <GridColumn Field=@nameof(UserModel.MiddleInitial) Title="Middle Name" />
                            <GridColumn Field=@nameof(UserModel.RegionalOfficeRegion) Title="Office" />
                            <GridColumn Field=@nameof(UserModel.Department) Title="Bureau/Service/Division/Section/Unit" />
                        </GridColumns>
                    </TelerikGrid>
                }
                else
                {
                    <span>No data to display</span>
                }
            </div>
            <TelerikPager PageChanged="@PageChangedHandler"
                          Total="TotalItems"
                          ButtonCount="6"
                          PageSize="@PageSize"
                          PageSizeChanged="@PageSizeChangedHandler"
                          PageSizes="@(new List<int?> {5, 10, 20})"
                          Page="@Page">
            </TelerikPager>
        </CardBody>
    </TelerikCard>
</div>