@page "/records-management/{Id}/{DocumentId:int}"
@using DPWH.EDMS.Components.Helpers
@inherits ViewRecordsBase

<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<EdmsLoader Visible="IsLoading" />

<h3>Records</h3>
@if(Record != null)
{
    <div class="d-flex flex-row align-items-center mb-2">
        <h5 class="mb-0">Name: <span>@Record.FirstName @Record.LastName</span> </h5>
        <span class="role-chip">@Record.Role</span>
    </div>
}
  
<hr />
@if (Document != null)
{
    <TelerikCard Width="100%">
        <CardBody>
            <CardTitle>
                <div class="d-flex justify-content-between">
                    <label class="headName">
                        @Document.DocumentName
                    </label>
                    <TelerikButton Class="dlButton">Download</TelerikButton>
                </div>
            </CardTitle>
            <CardSeparator Class="my-2"></CardSeparator>
            <div class="container">

                <CardImage Class="pdf-placeholder" Width="100%" Src="_content/DPWH.EDMS.Components/images/pdf-placeholder.png"></CardImage>
            </div>
        </CardBody>
    </TelerikCard>
    
}
 

@code {

}
<style>
    .pdf-placeholder {
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    .container {
        width: 50%;
    }

    .dlButton {
        background-color: #38339B;
        color: white;
    }

    .headName {
        color: #38339B;
        margin-bottom: 0;
    }

    .role-chip {
        background-color: #38339b;
        color: #fff;
        font-size: 18px;
        border-radius: 25px;
        padding: 3px 16px;
        margin: 0 10px;
    }
</style>