@page "/request-management/review-request/{ControlNumber}"
@using DPWH.EDMS.Components.Helpers
@inherits ReviewRequestFormBase


<EdmsBreadcrumbs Data="@BreadcrumbItems" />

<h3>Review Request Form</h3>

<div class="d-flex flex-row align-items-center mb-2">
    <p>Control Number: @ControlNumber </p>
    <span class="role-chip">@SelectedRecordRequest.Status</span>
</div>
<p>Full Name: @SelectedRecordRequest.FullName &nbsp;&nbsp; / &nbsp;&nbsp; Date Requested: @GenericHelper.GetDateTimeDisplay(SelectedRecordRequest.DateRequested)</p>
<hr />

<TelerikCard Width="100%">
    <CardBody>
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between flex-row mb-2">
                <p class="edms-text-header-small">Request Details</p>
                <TelerikButton class="exportButton">Export</TelerikButton>
            </div>
            <div class="detail-flex mb-0">
                <p><b>Office:</b>&nbsp; @SelectedRecordRequest.LastName</p>
                <p><b>Active or Inactive:</b>&nbsp; @SelectedRecordRequest.MiddleInitial</p>
            </div>
            <div class="detail-flex">
            </div>
            <div class="detail-flex">
                <p><b>Purpose:</b>&nbsp;@SelectedRecordRequest.Purpose</p>
            </div>
            <hr />
            <div class="d-flex flex-row mb-2">
                <p class="edms-text-header-small">Requested Documents</p>
            </div>
            <div class="detail-flex">
                <ul>
                    <li>Place Holder 1</li>
                    <li>Place Holder 2</li>
                    <li>Place Holder 3</li>
                </ul>
            </div>
        </div>
    </CardBody>
</TelerikCard>
<div class="d-flex flex-column">
    <div class="d-flex justify-content-between flex-row mb-2">
        <TelerikButton Class="white-button" >Cancel</TelerikButton>
        <div class="samp">
            <TelerikButton Class="white-button" >Reject</TelerikButton>
            <TelerikButton Class="approve-button">Approve</TelerikButton>
        </div>
        
    </div>
</div>

<style>
    .white-button{
        background-color: transparent;
        border-color: #D0D5DD;
    }
    .approve-button {
        background-color: #38339b;
        color: #fff;
    }

    .k-card-body p {
        margin: 0;
    }
</style>

