@page "/profile"
@using DPWH.EDMS.Components.Helpers

@inherits UserProfileBase
@attribute [Authorize(Policy = "RequireActiveRoles")]


<EdmsBreadcrumbs Data="@BreadcrumbItems" />

<h3>Profile</h3>
    <div class="d-flex flex-row align-items-center mb-2">
    <p>@(GenericHelper.GetDisplayValue(CurrentUser.UserName)) (@(GenericHelper.GetDisplayValue(CurrentUser.EmployeeId)))</p>
    <span class="role-chip">Super Admin</span>
</div>
    <p>Email: @(GenericHelper.GetDisplayValue(CurrentUser.Email)) / Contact: @(GenericHelper.GetDisplayValue(CurrentUser.MobileNumber))</p>
<hr />

<TelerikTabStrip>
    <TabStripTab>
        <HeaderTemplate>
            <span class="bi me-2 material-symbols-outlined">demography</span>
            Personal Details
        </HeaderTemplate>
        <Content>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row mb-2">
                    <p class="edms-text-header-small">Designation Details</p>
                </div>
                <div class="detail-flex">
                    <p><b>Regional/Central Office:</b>&nbsp;@(GenericHelper.GetDisplayValue(CurrentUser.RegionalOfficeRegion))</p>
                    <p><b>Position:</b>&nbsp; @(GenericHelper.GetDisplayValue(CurrentUser.Position))</p>
                </div>
                <div class="detail-flex">
                    <p><b>District/Bureau/Service:</b>&nbsp; @(GenericHelper.GetDisplayValue(CurrentUser.DistrictEngineeringOffice))</p>
                    <p><b>Designation:</b>&nbsp;@(GenericHelper.GetDisplayValue(CurrentUser.DesignationTitle))</p>
                </div>
                <hr />
                <div class="d-flex flex-row mb-2">
                    <p class="edms-text-header-small">Account Information</p>
                </div>
                <div class="detail-flex">
                    <p><b>Account Status:</b>&nbsp; @(CurrentUser.UserAccess != "Deactivated"? "Active" : "Inactive")</p>
                        <p><b>Date Joined:</b>&nbsp;@(GenericHelper.GetDisplayValue(GenericHelper.GetDateDisplay(CurrentUser.Created)))</p>
                </div>
         </div>
        </Content>
    </TabStripTab>   
</TelerikTabStrip>