@using DPWH.EDMS.Web.Client.Pages.DataLibrary.Common.Enum
@inherits DataLibraryRequestFormBase

<EdmsLoader Visible="@IsLoading" />

<EditForm Model="NewConfig" OnSubmit="@HandleOnSubmitCallback">
    <FluentValidationValidator @ref="FluentValidationValidator" DisableAssemblyScanning="@true"></FluentValidationValidator>
    <div class="row g-3 mb-3">
        <div class="col-md-12">
            <label class="mb-2" for="Name">Value*</label>
            <TelerikTextBox Size="@ThemeConstants.Button.Size.Large" Id="Value" @bind-Value="@NewConfig.Value" PlaceHolder="Value"></TelerikTextBox>
            <ValidationMessage Class="text-danger" For="@(() => NewConfig.Value)" />
        </div>
        <CardSeparator Class="my-2" />
        <div class="k-actions k-actions-horizontal k-window-actions k-dialog-actions k-actions-stretched dialog">

            <TelerikButton Class="telerik-blazor k-button k-button-solid k-rounded-md k-button-md k-button-solid-base" @onclick="HandleOnCancelCallBack">
                <span class="k-button-text">Cancel</span>
            </TelerikButton>
            <TelerikButton Class="telerik-blazor k-button k-button-solid k-rounded-md k-button-md k-button-solid-primary">
                <span class="k-button-text">Submit</span>
            </TelerikButton>
        </div>
    </div>
</EditForm>

<style>
    .k-window-actions {
        border-width: 0 !important;
    }
</style>