@page "/my-records"
@using DPWH.EDMS.Api.Contracts
@using DPWH.EDMS.Client.Shared.Models
@inherits RecordsBase
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "RequireActiveRoles")]

<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<EdmsLoader Visible="IsLoading" />

<h3>My Records</h3>
<div class="d-flex flex-row align-items-center mb-2">
    <p class="fs-5">@DisplayName</p>
    <span class="role-chip">@Role</span>
</div>
<hr />
<div class="d-flex flex-row mt-3">
    <TelerikCard Width="100%">
        <CardBody>
            <div class="d-flex flex-row justify-content-between">
                <CardTitle Class="mb-0">Record Lists</CardTitle>
            </div>
            <CardSeparator Class="my-2"></CardSeparator>
            <div class="mobile-property-grid">

                @if (GetEmployeeRecords.Data != null && !XSmall)
                {
                    <TelerikGrid TItem="LookupRecordModels"
                                 @bind-PageSize="@PageSize"
                                 OnRowClick="@OnRowClickHandler"
                                 FilterMode="GridFilterMode.FilterRow"
                                 Sortable=true
                                 Pageable=true
                                 Data="GetRecordType"
                                 OnStateChanged="@OnStateChanged"
                                 @ref="GridRef"
                                 Context="docContext">
                        <GridSettings>
                            <GridPagerSettings PageSizes="@PageSizes">
                            </GridPagerSettings>
                        </GridSettings>
                        <DetailTemplate>
                            @{
                                var document = docContext as LookupRecordModels;
                                <TelerikGrid Data="document.Documents" TItem="RecordModels" Sortable="true" Pageable="true" PageSize="5">
                                    <GridColumns>
                                        <GridColumn Field=@nameof(RecordModel.DocVersion) Title="Document Version" />
                                        <GridColumn Field=@nameof(RecordModel.RecordName) Title="Document Name" />
                                        <GridCommandColumn Width="5%">
                                            <GridCommandButton Class="commandButton" Command="ExportData" OnClick="@viewData">View</GridCommandButton>
                                        </GridCommandColumn>
                                        <GridCommandColumn Width="5%">
                                            <GridCommandButton Class="commandButton">Export</GridCommandButton>
                                        </GridCommandColumn>
                                    </GridColumns>
                                </TelerikGrid>
                            }
                        </DetailTemplate>
                        <GridColumns>
                            <GridColumn Field=@nameof(RecordModel.RecordName) Title="Document Name" />
                        </GridColumns>
                    </TelerikGrid>
                }
                else if (GetEmployeeRecords.Data != null && XSmall)
                {
                    <TelerikGrid TItem="GetLookupResult"
                                 @bind-PageSize="@PageSize"
                                 Height="@GridHeight"
                                 FilterMode="GridFilterMode.FilterRow"
                                 Sortable=true
                                 Pageable=true
                                 Data="GetEmployeeRecords.Data"
                                 Context="employee">
                        <GridSettings>
                            <GridPagerSettings PageSizes="@PageSizes">
                            </GridPagerSettings>
                        </GridSettings>
                        <DetailTemplate>
                            @{
                                var prop = employee as GetLookupResult;
                                <div class="d-flex flex-column">
                                    <p><b>Document Name :</b> @prop.Name </p>
                                </div>
                            }
                        </DetailTemplate>
                        <GridColumns>
                            <GridColumn Field=@nameof(GetLookupResult.Name) />
                        </GridColumns>
                    </TelerikGrid>
                }
                else
                {
                    <span>No Data to display.</span>
                }
            </div>

        </CardBody>
    </TelerikCard>
</div>
<style>
    .mobile-property-grid .k-hierarchy-cell .k-svg-i-plus svg path {
        d: path('M352 256 160 384V128l192 128z');
        fill: #7f56d9;
    }

    .mobile-property-grid .k-hierarchy-cell .k-svg-i-minus svg path {
        d: path('M256 352 128 160h256L256 352z');
        fill: #7f56d9;
    }

    .grid-no-scroll .k-grid-content {
        overflow-y: auto;
    }

    .grid-no-scroll .k-grid-header,
    .grid-no-scroll .k-grid-footer {
        padding-right: 0; /* version 2.26 and older requires !important here */
    }

    .grid-no-scroll .k-grid-header-wrap,
    .grid-no-scroll .k-grid-footer-wrap {
        border-right-width: 0;
    }
    .commandButton {
        font-weight: 500;
        width: 100%;
    }

    .role-chip {
        background-color: #38339b;
        color: #fff;
        font-size: 16px;
        border-radius: 25px;
        padding: 3px 16px;
        margin: 0 10px;
    }
</style>