@page "/my-records"
@using DPWH.EDMS.Api.Contracts
@inherits RecordsBase
@inject NavigationManager Navigation
@attribute [Authorize(Policy = "RequireActiveRoles")]

<EdmsBreadcrumbs Data="@BreadcrumbItems" />
<EdmsLoader Visible="IsLoading" />

<h3>My Records</h3>
<div class="d-flex flex-row align-items-center mb-2">
    <p class="fs-5">@DisplayName</p>
    <span class="role-chip">@Role</span>
</div>
<hr />
<div class="d-flex flex-row mt-3">
    <TelerikCard Width="100%">
        <CardBody>
            <div class="d-flex flex-row justify-content-between">
                <CardTitle Class="mb-0">Record Lists</CardTitle>
            </div>
            <CardSeparator Class="my-2"></CardSeparator>
            <div class="mobile-property-grid">

                @if (GetEmployeeRecords.Data != null && !XSmall)
                {
                    <TelerikGrid TItem="GetLookupResult"
                                 @bind-PageSize="@PageSize"
                                 Height="@GridHeight"
                                 FilterMode="GridFilterMode.FilterRow"
                                 Sortable=true
                                 Pageable=true
                                 Data="GetEmployeeRecords.Data"
                                 OnStateChanged="@OnStateChanged"
                                 @ref="GridRef"
                                 Context="employee">
                        <GridSettings>
                            <GridPagerSettings PageSizes="@PageSizes">
                            </GridPagerSettings>
                        </GridSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(GetLookupResult.Name) Title="Document Name" />
                            <GridCommandColumn Width="5%">
                                <GridCommandButton Class="commandButton" Command="ExportData" OnClick="@viewData">View</GridCommandButton>
                            </GridCommandColumn>
                            <GridCommandColumn Width="5%">
                                <GridCommandButton Class="commandButton">Export</GridCommandButton>
                            </GridCommandColumn>
                        </GridColumns>
                    </TelerikGrid>
                }
                else if (GetEmployeeRecords.Data != null && XSmall)
                {
                    <TelerikGrid TItem="GetLookupResult"
                                 @bind-PageSize="@PageSize"
                                 Height="@GridHeight"
                                 FilterMode="GridFilterMode.FilterRow"
                                 Sortable=true
                                 Pageable=true
                                 Data="GetEmployeeRecords.Data"
                                 Context="employee">
                        <GridSettings>
                            <GridPagerSettings PageSizes="@PageSizes">
                            </GridPagerSettings>
                        </GridSettings>
                        <DetailTemplate>
                            @{
                                var prop = employee as GetLookupResult;
                                <div class="d-flex flex-column">
                                    <p><b>Document Name :</b> @prop.Name </p>
                                </div>
                            }
                        </DetailTemplate>
                        <GridColumns>
                            <GridColumn Field=@nameof(GetLookupResult.Name) />
                        </GridColumns>
                    </TelerikGrid>
                }
                else
                {
                    <span>No Data to display.</span>
                }
            </div>

        </CardBody>
    </TelerikCard>
</div>
<style>
    .commandButton {
        font-weight: 500;
        width: 100%;
    }

    .role-chip {
        background-color: #38339b;
        color: #fff;
        font-size: 16px;
        border-radius: 25px;
        padding: 3px 16px;
        margin: 0 10px;
    }
</style>